<nav class="navbar" style="position: fixed;
z-index: 1;">
    <div class="container">

        <div class="navbar-header" style="height: 8vh;">
            <button class="navbar-toggler" data-toggle="open-navbar1">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <img src="../../../assets/images/nentrang.png" width="30%">

        </div>
        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">

                <li class="active">
                    <a>Home</a>
                </li>
                <li class="active">
                    <a>Web Player</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
