<!-- FOOTER START -->

<div class="footer">
    <div class="contain">
        <div class="col">
            <img src="../../../assets/nentrang.png" width="100%">
        </div>
        <div class="col">
            <h1>COMPANY</h1>
            <ul>
                <li>Introduce</li>
                <li>Job</li>
                <li>For the Record</li>
            </ul>
        </div>
        <div class="col">
            <h1>COMMUNITY</h1>
            <ul>
                <li>For Artists</li>
                <li>Developers</li>
                <li>Brand</li>
                <li>Investors</li>
                <li>Supplier</li>
            </ul>
        </div>
        <div class="col">
            <h1>USEFUL LINKS</h1>
            <ul>
                <li>Help</li>
                <li>Web player</li>
                <li>Free Mobile Apps</li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- END OF FOOTER -->